<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Komunikat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/release/v5.2.0/css/all.css">
    <link href="..static/css/css/main.css"th:href="@{/css/css/main.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="jumbotron home-jumbo">
        <div class="container text-centre text-white jumbo-container">
            <div th:if="${message}"th:remove="tag">
                <h1 class="display-3">Status</h1>
                <p th:text="${message}">Wszystko poszlo zgodnie z planem</p>
            </div>
            <div th:!if="${message}" th:remove="tag">
                <h1 class="display-3">Sukces</h1>
                <p th:text="${message}">Wszystko poszlo zgodnie z planem</p>
            </div>
            <a th:href="@{/}">Powrot do strony głównej</a>
        </div>
    </div>


</div>

</body>
</html>